table th {
  padding: 7px;
  background-color: #ede4e1;
}

table td {
  padding: 7px;
}

.return {
  margin: 30px;
  font-size: 20px;
}

.info h2 {
  font-family: "M PLUS Rounded 1c";
}

.info hr {
  width: 100%;
  border-top: 5px solid #baff75;
}

.spot-review {
  margin-top: 40px;
}

.spot-review hr {
  width: 100%;
  border-top: 2px solid #ffff56;
}

.spotimg {
  width: 100%;
  max-width: 800px;
}